:root{
    --profile-img-width-height : 200px;
    --navbar-height : 50px;
    --font-family: 'Apple Color Emoji', 'Segoe UI Emoji' , 'Segoe UI Symbol', 'Noto Color Emoji';
    --container-bg-color: #ECEBEB;
    --navbar-bg-color: #216FA9;
    --hover-bg-color: #E5203D;
    --social-icon-size: 35px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, .navbar, .body-container, .left-container, .right-container, .footer{
    width: 100%;
}
h1 {
    color: var(--navbar-bg-color);
    text-align: center;
    padding-top: 15px;
}
.navbar{
    position: fixed;
    right: 0;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
}
.navbar h2 {
    line-height: var(--navbar-height);
    padding-left: 10px;
    color: white;
    font-family: var(--font-family);
}
.text-container{
    width: 90%;
    border-radius: 10px;
    background-color: var(--container-bg-color);
    font-family: var(--font-family);
    line-height: 1.6;
    margin: auto;
    font-size: 17px;
}
.text-container:hover{
    width: 94%;
    color: white;
    background-color: var(--hover-bg-color);
    transition: background-color 0.4s;
}
.text-container:hover h1{
    color: white;
}
.about-container img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.about-container p, .competences-container ul, .experiences-container ul, .education-container ul{
    padding: 15px;
    text-align: justify;
}
.competences-container, .experiences-container, .education-container{
    padding: 15px;
    margin-top: 20px;
}
.competences-container ul, .experiences-container ul, .education-container ul{
    margin-left: 15px;
}
.competences-container ul li, .experiences-container ul li, .education-container ul li{
    padding-top: 10px;
}
.footer{
    display: flex;
    gap: 40px;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--container-bg-color);
}
.footer img{
    width: var(--social-icon-size);
    height: var(--social-icon-size);
    border: 2px solid var(--navbar-bg-color);
    border-radius: 20px;
    padding: 3px;
}
.footer img:hover{
    border: 2px solid var(--hover-bg-color);
}
.footer a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}